<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 sign-up">
      <h2>Your message has been sent</h2>
      <p>We will provide you an answer in a short delay</p>
    </div>
  </div>
</div>
