// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #1A82CB;
$yellow: #FDB631;
$orange: #ff3D00;
$green: #32B796;
$gray: #000000;
$light-gray: #F4F4F4;
$white: white;
$black: black;
$dark-blue: #0e1c27;
$light-blue: #242E39;
