.challenge-show {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 30% 70%;
  height: calc(70vh - 70px);
  padding: 20px;
  background-color: #0d151c;
  box-shadow: 0px 0px 1px 0px rgba(247,247,247,1);
  opacity: 0.7;
}
.challenge-name {
  margin-top: 22px;
  grid-column: 1 / span 1;
  box-shadow: 1px 0px 0px 0px rgba(247,247,247,1);
  h3, .btn-exercise, .brice {
    margin-bottom: 20px;
  }
}

.brice {
  background-color: white;
  padding: 20px 60px;
  border-radius: 2px;
}


.challenge-description {
  margin-left: 20px;
  grid-column: 2 / span 1;
}


.btn-exercise {
  color: white;
  padding: 10px 50px;
  border-radius: 4px;
  border: none;
  font-weight: bold;
  background: #00bde1;
  transition: background 0.3s ease;
}
.btn-exercise:hover {
  opacity: 1;
  text-decoration: none;
  color: white;
  background-color: lighter;
}


