.challenge-new {
  display: grid;
  grid-template-columns: 49% 2% 49%;
  grid-template-rows: 80% 20%;
  height: calc(100vh - 70px);
  padding: 20px;
}

.description-challenge-new {
  grid-row: 1 / span 1;
  grid-column: 1 / span 1;
  overflow-y: auto;
}

.hints-challenge-new {
  grid-row: 2 / span 1;
  grid-column: 1 / span 1;
}

.editor-challenge-new {
  grid-row: 1 / span 1;
  grid-column: 3 / span 1;
}

.buttons-challenge-new {
  grid-row: 2 / span 1;
  grid-column: 3 / span 1;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  background-color: $white;
}

.editor-pane {
  // display: flex;
  // flex-direction: column;
  //height:300px;
}

.hint-desc {
   cursor: pointer;
   font-size: 20px;
   list-style-type: none;
   border-style: solid;
   border-radius: 5px;
   margin: 10px;
}
