.grid-dashboard {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 30% 70%;
  color: white;
  > div {
    padding: 20px;
  }
  h3.notcard {
      color: #f9be00;
      font-size: 30px;
    }
}
.d-exercise {
  grid-row: 1/ span 1;
  grid-column: 1 / span 1;
  // h2 {
  //   color: #698caa !important;
  // }

}
.next_challenge {
  grid-row: 1/ span 1;
  grid-column: 2 / span 1;
}
.challenges_choices {
  grid-row: 2 / span 1;
  grid-column: 1 / span 2;
  h2 {
    // color: #698caa !important;
  }
}

.list_ex {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  :hover {
    text-decoration: none !important;
    color: #2a7bf7;
  }
  a {
    // color: #698caa;
  }
}

.search-form {
  display: flex;
  align-items: center;
  position: relative;
  button {
    position: absolute;
    right: 5px;
    opacity: 0.6;
    border: none;
  }
}

.exercise-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}

.exercise-link:hover {
  opacity: 0.8;
}

a {
  color: #f2f2f2;
  font-weight: lighter;
  font-size: 16px;
}

.more_challenges {
  margin-bottom: 30px;
  margin-top: 30px;
}

.search-bar {
  background-color: $light-blue;
  border-radius: 2px;
  border: 0.7px solid #3b454e;
  color: #698caa;
}
