.grid-dashboard {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 30% 70%;
  color: white;
  > div {
    padding: 20px;
  }
  h2.notcard {
      color: #2a7bf7;
      font-size: 30px;
    }
}
.d-exercise {
  grid-row: 1/ span 2;
  grid-column: 1 / span 1;
}
.next_challenge {
  grid-row: 1/ span 1;
  grid-column: 2 / span 1;
}
.challenges_choices {
  grid-row: 2 / span 1;
  grid-column: 1 / span 2;
}

.list_ex {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  :hover {
    text-decoration: none !important;
    color: #2a7bf7;
  }
}

.exercise-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}

.exercise-link:hover {
  opacity: 0.8;
}

a {
  color: #f2f2f2;
  font-weight: lighter;
  font-size: 16px;
}

.more_challenges {
  margin-bottom: 30px;
  margin-top: 30px;
}
