// Specific CSS for your home-page
.container {
  background-color: rgba(0,0,0,0) !important;
}

.challengerow {
  margin-right: 0;
  margin-left: 0;
}
.popchallenges-container {
  color: black;
  // padding-bottom: 30px;
  margin-top: 10px;
  border-radius: 3px;
  // background-color: #12121;
  // opacity: 0.9;
  background: #0e1c27;
  padding-bottom: 20px;
  margin-right: 0;

  h3 {
    font-family:Archivo Black;
    // color: #2a7bf7;
    color: #f9be00;
    // margin-bottom: 60px;
    text-align: center;
    font-weight: bold;

  }
  h2{
    font-family: Open Sans;
  }
  p {
    // font-family: Spinnaker;
    margin-bottom: 60px;
  }
}

.aboutus-container {
  color: black;
  border-radius: 3px;
  margin-top: 90px;
  background-color: #0e1c27;
  // opacity: 0.9;


  .practice {
  position: absolute;
  visibility: inherit;
  width: 244px;
  height: 247px;
  top: 145px;
  left: 28px;
  }
  img {
    width: 70px;
    height: 70px;
    display: center;
  }
  h3 {
    font-weight: bold;

    margin-top: 60px;
    // margin-bottom: 60px;
    font-family:Archivo Black;
    color: #f9be00;
    // color: #2a7bf7;
  }
  h4 {
    font-family: Archivo Black;
    color: #f9be00;
    // color: #2a7bf7;
    font-size: 18px;
  }

  p {
    // font-family: Spinnaker;
    margin-bottom: 60px;
    font-family: Spinnaker;
    color: white;
  }
}

.team-container {
  color: black;
  border-radius: 3px;
  background-color: #0e1c27;
  margin-top: 100px;
  margin-bottom: 100px;
  // opacity: 0.9;

  img {
  width: 110px;
  height: 110px;
  border-radius: 70px;
  border: 3px solid white;
  }
  h3 {
    font-weight: bold;
    margin-top: 60px;
    margin-bottom: 40px;
    font-family:Archivo Black;
    color: #f9be00;
    // color: #2a7bf7;

  }
  h4 {
    font-family: Spinnaker;
    font-size: 18px;
    font-weight: bold;
    color: #f9be00;
    // color: #2a7bf7;
    margin-top: 20px;


  }
  p {
    // font-family: Spinnaker;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 60px;
    font-family: Spinnaker;
    color: white;
  }
}
* {
  background: rgba(0,0,0,0);
}

.footer {
  background: $dark-blue;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 90px;
  padding: 0px 50px;
  color: gray;
  font-family: Tenor Sans;
}

.footer-links {
  display: flex;
  align-items: center;
  color: white;
}
.footer-links a {
  color: white;
  opacity: 0.6;
  text-decoration: none;
  font-size: 17px;
  padding: 0px 4px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer-info {
  color: white;
  opacity: 0.8;
  text-align: center;
  font-size: 16px;
}

.footer-copyright {
  color: white;
  opacity: 0.6;
  font-size: 16px;
}
