// Specific CSS for your home-page
.container {
  background-color: rgba(0,0,0,0) !important;
}
.popchallenges-container {
  color: black;
  padding-bottom: 30px;
  margin-top: 120px;
  border-radius: 3px;
  background-color: white;
  h3 {
    font-family: Archivo Black;
    margin-top: 60px;
    margin-bottom: 60px;

    text-align: center;
    font-weight: bold;
    color: white;
  }
  h2{
    font-family: Open Sans;
  }
  p {
    // font-family: Spinnaker;
    margin-bottom: 60px;
  }
}

.aboutus-container {
  color: black;
  border-radius: 3px;
  margin-top: 120px;
  background-color: white;


  .practice {
  position: absolute;
  visibility: inherit;
  width: 244px;
  height: 247px;
  top: 145px;
  left: 28px;
  }
  img {
    width: 80px;
    height: 80px;
    display: center;
  }
  h3 {
    font-weight: bold;
    font-family:Tenor Sans;
    margin-top: 60px;
    margin-bottom: 60px;
  }
  h4 {
    font-family: Archivo Black;
  }
  p {
    // font-family: Spinnaker;
    margin-bottom: 60px;
    font-family: Tenor Sans,
  }
}

.team-container {
  color: black;
  border-radius: 3px;
  background-color: white;
  margin-top: 120px;

  img {
  width: 110px;
  height: 110px;
  border-radius: 70px;
  border: 3px solid white;
  }
  h3 {
    font-weight: bold;
    margin-top: 60px;
    margin-bottom: 60px;

  }
  h4 {
    font-family: Archivo Black;
    font-size: 18px;
    font-weight: bold;


  }
  p {
    // font-family: Spinnaker;
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 60px;
    font-family: Tenor Sans;
  }
}
* {
  background: rgba(0,0,0,0);
}
