body {
  background-color: $dark-blue;
}

.titlepage {
  display: flex;
  justify-content: space-between;
span {
  margin-top: 15px;
  margin-right: 10px;

}
}
// #back {
//   font-family: Tenor Sans;
//   padding-left: 705px;
// }
.title-container {
  h4 {
    margin-left: 20px;
    color: #f9be00;
    margin-top: 15px;
    font-size: 22px;
    font-family: Archivo Black;
    margin-bottom: 0px;
  }
}
.exercise {
  margin-top: 0px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 70% 20% 10%;
  height: calc(100vh - 70px);
  padding: 20px;
  background-color: #0e1c27;
  opacity: 0.9;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  h5 {
    font-family: Archivo Black;
    color: #698caa;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  p {
    font-family: Tenor Sans;
    font-size: 16px;
  }
}

.exercise-app {
  position: relative;
  background: $light-blue;
  padding: 10px;
  border: 0.7px solid #3b454e;
  border-radius: 3px;
  min-height: 300px;
}

.exercise-app-footer {
  position: absolute;
  bottom: 5px;
}

.description {
  background: $light-blue;
  padding: 10px;
  border: 0.7px solid #3b454e;
  overflow-y: auto;
  grid-row: 1 / span 1;
  grid-column: 1 / span 1;
  li {
    font-size: 16px;
  }
}

.description::-webkit-scrollbar {
width: 5px;
height: 8px;
background-color: $light-blue;
border: 0.7px solid #3b454e;
}

.description::-webkit-scrollbar-thumb {
background: #dcdcdc;
}

.hints {
  background: $light-blue;
  padding: 10px;
  border: 0.7px solid #3b454e;
  grid-row: 2 / span 2;
  grid-column: 1 / span 1;
}

.hints-details {
  margin-top: 10px;
  padding: 5px;
  height: 75%;
  border: 0.7px solid #3b454e;
  // margin-right: -11.5px;
  overflow-y: auto;
  overflow-x: hidden;
  border-radius: 3px;
  margin-left: -2px;
  li {
    font-size: 14px;
  }
}

.hints-details::-webkit-scrollbar {
width: 5px;
height: 8px;
background-color: $light-blue;
border: 0.7px solid #3b454e;
}

.hints-details::-webkit-scrollbar-thumb {
background: #dcdcdc;
}

#list_hints li {
  padding-bottom: 11px;
}

.editor {
  background: $light-blue;
  // padding: 20px;
  border: 0.7px solid #3b454e;
  grid-row: 1 / span 1;
  grid-column: 2 / span 1;
  display: flex;
  flex-direction: column;
}

.editor-buttons {
  grid-row: 3 / span 1;
  grid-column: 2 / span 1;
  align-self: flex-end;
}

.editor-buttons-flex{
  display: flex;
  justify-content: space-between;
  .btn-exercise{
    padding: 8px 50px;
  }
  input {
    // padding: 8px 60px !important;
    background-color: #f9be00;
    color: $light-blue;
    border-radius: 5px;
    font-weight: bold;
    font-size: 14px;
  }
}

.result {
  background: #242E39;
  height: 125%;
  padding: 10px;
  border: 0.7px solid #3b454e;
  grid-row: 2 / span 1;
  grid-column: 2 / span 1;
  h5 {
    margin-top: 5px;
  }
}

.result-details {
  height: 60%;
  // margin-top: 5px;
  font-size: 14px;
}

.btn-exercise {
  margin-top: 5px;
  background-color: #242E39;
  color: #f9be00;
  padding: 5px 30px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 14px;
  border: 1px solid #f9be00;
  transition: background 0.3s ease;
}


.btn-exercise:hover {
  opacity: 0.7;
  text-decoration: none;
  color: white;
  border-color: #f9be00;
  background-color: transparent;
}

.btn-exercise:active {
  background-color: #f9be00 !important;
  border-color: #f9be00 !important;
}

.btn-exercise:focus {
  background-color: #f9be00 !important;
  border-color: #f9be00 !important;
  outline: 0;
}

.btn-exercise:active:focus {
outline: 0;
}

#deploy {
  color: $light-blue !important;
  background-color: #f9be00 !important;
  border-color: #f9be00 !important;
}


