body {
  background-color: #0e1c27;
}

.title-container {
  h4 {
    margin-left: 20px;
    color: #f9be00;
    margin-top: 30px;
    font-size: 25px;
    font-family: Archivo Black;
  }
}
.exercise {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 70% 20% 10%;
  height: calc(100vh - 70px);
  padding: 20px;
  background-color: #0e1c27;
  opacity: 0.9;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  h5 {
    font-family: Archivo Black;
    color: #698caa;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  p {
    font-family: Tenor Sans;
    font-size: 16px;
  }
}

.exercise-app {
  background-color: gray;
  border-radius: 3px;
  min-height: 300px;
}
.description {
  background: #242E39;
  padding: 10px;
  border: 1px solid #3b454e;
  grid-row: 1 / span 1;
  grid-column: 1 / span 1;
  overflow-y: auto;
  box-shadow: 1px 1px 0px 0px rgba(89,88,89,1);
  li {
    font-size: 16px;
  }
}

.hints {
  background: #242E39;
  padding: 10px;
  border: 1px solid #3b454e;
  grid-row: 2 / span 2;
  grid-column: 1 / span 1;
  box-shadow: 1px 1px 0px 0px rgba(89,88,89,1);
}

.hints-details {
  padding: 5px;
  height: 90%;
  margin: 10px;
  overflow-y: auto;
  border-radius: 3px;
  margin-left: -2px;
  li {
    font-size: 14px;
  }
}

#list_hints li {
  padding-bottom: 11px;
}

.editor {
  background: #242E39;
  // padding: 20px;
  // border: 1px solid #3b454e;
  grid-row: 1 / span 1;
  grid-column: 2 / span 1;
  display: flex;
  flex-direction: column;
  box-shadow: 1px 1px 0px 0px rgba(89,88,89,1);
}

.editor-buttons {
  grid-row: 3 / span 1;
  grid-column: 2 / span 1;
}

.editor-buttons-flex {
  display: flex;
  justify-content: space-between;
}

.result {
  background: #242E39;
  padding: 20px;
  border: 1px solid #3b454e;
  grid-row: 2 / span 1;
  grid-column: 2 / span 1;
  box-shadow: 1px 1px 0px 0px rgba(89,88,89,1);
}

.result-details {
  padding: 5px;
  height: 90%;
  margin-top: 20px;
  font-size: 14px;
}

.btn-exercise {
  margin-top: 5px;
  background-color: #242E39;
  color: #f9be00;
  padding: 5px 30px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 14px;
  border: 1px solid #f9be00;
  transition: background 0.3s ease;
}
.editor-buttons-flex{
  .btn-exercise{
    padding: 8px 50px;
  }
  input {
    // padding: 8px 60px !important;
    background-color: #f9be00;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    font-size: 14px;
  }
}

.btn-exercise:hover {
  opacity: 0.7;
  text-decoration: none;
  color: white;
  border-color: #f9be00;
  background-color: transparent;
}

