.exercise {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 49% 2% 49%;
  grid-template-rows: 70% 5% 20% 5%;
  height: calc(100vh - 70px);
  padding: 20px;
  background-color: #0d151c;
  box-shadow: 0px 0px 1px 0px rgba(247,247,247,1);
  opacity: 0.7;
}

.exercise-app {
  background-color: gray;
  border-radius: 3px;
}
.description {
  grid-row: 1 / span 1;
  grid-column: 1 / span 1;
  overflow-y: auto;
}

.hints {
  grid-row: 2 / span 2;
  grid-column: 1 / span 1;
  margin: 10px;
}

.hints-details {
  background-color: black;
  padding: 5px;
  height: 90%;
  margin: 10px;
  overflow-y: auto;
  border-radius: 3px;
  margin-left: -2px;
}

.editor {
  grid-row: 1 / span 1;
  grid-column: 3 / span 1;
  display: flex;
  flex-direction: column;
}

.editor-buttons {
  grid-row: 2 / span 1;
  grid-column: 3 / span 1;
  // margin-right: 20px;
}

.editor-buttons-flex {
  display: flex;
  justify-content: space-around;
}

.result {
  grid-row: 3 / span 1;
  grid-column: 3 / span 1;
  margin: 10px;
  border-radius: 3px;
}

.result-details {
  background-color: black;
  padding: 5px;
  height: 90%;
  margin-top: 20px;
}

.btn-exercise {
  margin-top: 5px;
  color: white;
  padding: 5px 20px;
  border-radius: 2px;
  border: none;
  font-weight: bold;
  font-size: 14px;
  background: #00bde1;
  transition: background 0.3s ease;
}
.editor-buttons-flex{
  .btn-exercise{
    padding: 5px 20px;
    margin: 8px;
  }
  input {
    padding: 10px 30px !important;
  }
}

.btn-exercise:hover {
  opacity: 1;
  text-decoration: none;
  color: white;
  background-color: lighter;
}
