<% if notice %>
  <div class="alert alert-info alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <%= notice %>
  </div>
<% end %>
<% if alert %>
  <div class="alert alert-warning alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <%= alert %>
  </div>
<% end %>

<script>
  window.setTimeout(function() {
    const alertInfo = document.querySelector(".alert-info");
    const alertWarning = document.querySelector(".alert-warning");
    if (alertInfo) {
      alertInfo.remove();
    }
    if (alertWarning) {
      alertWarning.remove();
    }
  }, 4000);
</script>
