
<div class="footer">
  <div class="footer-links">
    <a href="#" class="fa fa-amazon"></a>
    <a href="#"><i class="fa fa-instagram"></i></a>
    <a href="#"><i class="fa fa-facebook"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-linkedin"></i></a>
  </div>
    <div class="footer-info">
    <p>FAQ</p>
    <p>Contact us</p>
  </div>
  <div class="footer-copyright">
    <p>© OPServatory 2017</p>
    <p>Mentions légales</p>
  </div>
</div>
