<h1>Pages#home</h1>
<div class="banner">
  <div class="banner-content">
  <h1>Learn infrastructure as code</h1>
  <p>Practice and test your own infrastructure as code through challenges</p>
  <%= link_to "Challenge of the day", challenges_path, class: "btn btn-lig btn-primary"
  </div>
</div>
