function addHint(hintHTML) {
  const hints = document.getElementById('list_hints');
  hints.insertAdjacentHTML('beforeend', hintHTML);
};

var counter = <%= @next_hint.count %>;
addHint(`<li><%= j @next_hint_first.description %></li>`);

if (counter === 1) {
 document.getElementById("button-hint").classList.add("disabled");
};


// // console.log(counter)
// console.log(<%= @next_hint.count %>);
