<div class="container">
  <div class="challenge">
    <div class="description">
      <div class="text-center">
        <h2>Instructions</h2>
        <h2><%= @challenge.name %></h2>
        <p><%= @challenge.description %></p>
      </div>
      <div>
        <%= @challenge.instructions.html_safe %>
      </div>
    </div>
  </div>
</div>
