.banner {
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: url('https://tctechcrunch2011.files.wordpress.com/2016/02/cleandatabase.jpg') no-repeat center top fixed;
  color: white;
  background-size: cover;
  h1 {
    font-weight: bold;
    font-size: 35px;
    margin-bottom: 25px;
    font-family: Archivo Black;


  }
  p {
    // opacity: 0.8;
    font-size: 28px;
    font-weight: lighter;
    margin-bottom: 30px;
    font-family: Spinnaker;

  }
  .btn {
    padding: 20px 15px;
    border-radius: 2px;
    font-family: Tenor Sans;
    font-size: 19px;
    background-color: #f9be00;
    border: none;
  }
}

.banner-fixed {
  width: 100%;
  position: fixed;
  z-index: -1;
}
