

.footer {
  background: #0d151c;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: gray;
  opacity: 0.8;
}

.footer-links {
  display: flex;
  align-items: center;
  color: white;
}
.footer-links a {
  color: white;
  opacity: 0.6;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer-info {
  color: white;
  background-color: #0d151c;
  opacity: 0.8;
  text-align: center;
}

.footer-copyright {
  color: white;
  opacity: 0.6;

}
