label {
  display: block;
 }

 .sign-up {
  background-color:  #0d151c;
  border-radius: 10px;
  margin-top: 30px;
  box-shadow: 0px 0px 3px 0px rgba(199,199,199,1);
  padding: 10px;
}

 .sign-in {
  background-color:  #0d151c;
  border-radius: 10px;
  margin-top: 30px;
  box-shadow: 0px 0px 3px 0px rgba(199,199,199,1);
  padding: 10px;
}
