var list = document.getElementById("list_hints");
list.innerHTML = '';
var btn = document.getElementById("button-hint")
btn.classList.remove("disabled");

document.getElementById("exercise-app").innerHTML = '<div class="text-center"><%= image_tag 'ChallengeS3.png', height: '300' %></div>';
document.getElementById("exercise_status").value = <%= @exercise.status %>
document.getElementById("exercise_code").value = '<%= j @exercise.code %>'
javascriptEditor.setValue('<%= j raw(@exercise.code) %>');
javascriptEditor.clearSelection();
document.getElementById("validate-button").classList.add("btn-exercise-important");
document.getElementById("deploy").classList.remove("btn-exercise-important");
document.querySelector(".result").classList.remove("result-valid");
document.querySelector(".result").classList.remove("result-invalid");

function updateHintBtn() {
  var btn = document.getElementById("button-hint")
  btn.classList.remove("disabled")};

function updateSolutionBtn() {
var btn = document.getElementById("button-solution")
btn.classList.add("disabled")
};

updateHintBtn();
updateSolutionBtn();
